main {
  max-width: 500px;
  margin: 0 auto;
}

select { 
   width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input , button {
  color: white;
  border-radius: 5px;
  height: 45px;
  background-color: rgba(128, 128, 128, 0.32);
  padding: 20px;
}
.total-text {
  font-size: 50px;
  margin: 10px 0;
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.32);
  width: 100%;
  margin-right: 10px;
  padding: 5px 0;
}

button {
  width: 100px;
  margin-left: 10px;
}

.card {
  box-shadow: 0.1px 1px 3px rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-info h4 {
  font-weight: 500;
  font-size: 12px;
}

.card-info p {
  font-weight: 500;
  font-size: 9px;
  color: grey
}

.amount-text {
  font-size: 12px;
}

.success {
color: rgb(81,190,81)
}

.danger {
  color: rgb(206,76,76)
}